DATABASE_URL="postgresql://salesmaintain:salesmaintain@localhost:5432/salesmaintain?schema=public"
JWT_SECRET="change-me-to-a-long-random-string"
JWT_EXPIRES_IN="7d"
PORT=4000
CORS_ORIGIN="http://localhost:5173,http://192.168.1.109:5173"
CLOUDINARY_CLOUD_NAME=dldimknru
CLOUDINARY_API_KEY=298375755974268
CLOUDINARY_API_SECRET=KsC7a--1SVfLdnwPlMrQrjJhNuo
